@font-face {
	font-family: 'Open Sans';
}
html {
	body {
		height: 100%;
		font-family: Helvetica, sans-serif;
		.main-container {
			height: 100%;
			.container-fluid {
				min-width: 320px;
				max-width: 1200px;
			}
		}
	}
}
.main-title {
	height: 50px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.30);

}
.link {
	text-align: center;
	color: black;
	margin-top: 0;
	margin-bottom: 20px;
	padding-top: 5px;
	cursor: pointer;
}


